In [1]:
#read from csv file
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [2]:
#for read 3 rows in csv file
import pandas as pd
df=pd.read_csv('dirtydata.csv')
df.head(3)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0

In [3]:
#for read 3 rows in csv file
import pandas as pd
df=pd.read_csv('dirtydata.csv')
df.tail(3)

    Duration          Date  Pulse  Maxpulse  Calories
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [4]:
#info
import pandas as pd
df=pd.read_csv('dirtydata.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
Duration    32 non-null int64
Date        31 non-null object
Pulse       32 non-null int64
Maxpulse    32 non-null int64
Calories    30 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.3+ KB

In [5]:
#for removing empty cells
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print(df.dropna())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [7]:
#read from csv file
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [26]:
#for fill empty data with 12 and covert to Date format in Date column
import pandas as pd
df=pd.read_csv('dirtydata.csv')
df['Date']=pd.to_datetime(df['Date'])
print(df.fillna(12))

    Duration                          Date  Pulse  Maxpulse  Calories
0         60 2020-12-01 00:00:00.000000000    110       130     409.1
1         60 2020-12-02 00:00:00.000000000    117       145     479.0
2         60 2020-12-03 00:00:00.000000000    103       135     340.0
3         45 2020-12-04 00:00:00.000000000    109       175     282.4
4         45 2020-12-05 00:00:00.000000000    117       148     406.0
5         60 2020-12-06 00:00:00.000000000    102       127     300.0
6         60 2020-12-07 00:00:00.000000000    110       136     374.0
7        450 2020-12-08 00:00:00.000000000    104       134     253.3
8         30 2020-12-09 00:00:00.000000000    109       133     195.1
9         60 2020-12-10 00:00:00.000000000     98       124     269.0
10        60 2020-12-11 00:00:00.000000000    103       147     329.3
11        60 2020-12-12 00:00:00.000000000    100       120     250.7
12        60 2020-12-12 00:00:00.000000000    100       120     250.7
13        60 2020-12-13 00:00:00.000000000    106       128     345.3
14        60 2020-12-14 00:00:00.000000000    104       132     379.3
15        60 2020-12-15 00:00:00.000000000     98       123     275.0
16        60 2020-12-16 00:00:00.000000000     98       120     215.2
17        60 2020-12-17 00:00:00.000000000    100       120     300.0
18        45 2020-12-18 00:00:00.000000000     90       112      12.0
19        60 2020-12-19 00:00:00.000000000    103       123     323.0
20        45 2020-12-20 00:00:00.000000000     97       125     243.0
21        60 2020-12-21 00:00:00.000000000    108       131     364.2
22        45 1970-01-01 00:00:00.000000012    100       119     282.0
23        60 2020-12-23 00:00:00.000000000    130       101     300.0
24        45 2020-12-24 00:00:00.000000000    105       132     246.0
25        60 2020-12-25 00:00:00.000000000    102       126     334.5
26        60 2020-12-26 00:00:00.000000000    100       120     250.0
27        60 2020-12-27 00:00:00.000000000     92       118     241.0
28        60 2020-12-28 00:00:00.000000000    103       132      12.0
29        60 2020-12-29 00:00:00.000000000    100       132     280.0
30        60 2020-12-30 00:00:00.000000000    102       129     380.3
31        60 2020-12-31 00:00:00.000000000     92       115     243.0

In [24]:
#for fill empty data with 'Ba' th column
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print(df['Calories'].fillna(34))

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18     34.0
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28     34.0
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [25]:
#replace with mean
import pandas as pd
df=pd.read_csv('dirtydata.csv')
x=df['Calories'].mean()
print("mean:",x)
print(df['Calories'].fillna(x))

mean: 304.68
0     409.10
1     479.00
2     340.00
3     282.40
4     406.00
5     300.00
6     374.00
7     253.30
8     195.10
9     269.00
10    329.30
11    250.70
12    250.70
13    345.30
14    379.30
15    275.00
16    215.20
17    300.00
18    304.68
19    323.00
20    243.00
21    364.20
22    282.00
23    300.00
24    246.00
25    334.50
26    250.00
27    241.00
28    304.68
29    280.00
30    380.30
31    243.00
Name: Calories, dtype: float64

In [16]:
#removing wrong data
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print("3 th row:")
print(df.loc[3])
print("\n3 th row after replacing Calories with 767:")
df.loc[3,'Calories']=767
print(df.loc[3])

3 th row:
Duration              45
Date        '2020/12/04'
Pulse                109
Maxpulse             175
Calories           282.4
Name: 3, dtype: object

3 th row after replacing Calories with 767:
Duration              45
Date        '2020/12/04'
Pulse                109
Maxpulse             175
Calories             767
Name: 3, dtype: object

In [17]:
#remove duplicates
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print("have duplicated?")
print(df.duplicated())
df.drop_duplicates(inplace=True)

have duplicated?
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [18]:
#corrilation
import pandas as pd
df=pd.read_csv('dirtydata.csv')
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000  0.004410  0.049959 -0.114169
Pulse     0.004410  1.000000  0.276583  0.513186
Maxpulse  0.049959  0.276583  1.000000  0.357460
Calories -0.114169  0.513186  0.357460  1.000000

In [19]:
#data to string
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [20]:
import pandas as pd
df = pd.read_csv('dirtydata.csv')
new_df = df.dropna()
print(new_df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0